button {
    background-color: $ball-blue;
    color: $white;
    border: none;
    transition: all 1s;
}

button:hover {
    background-color: $middle-blue;
}

button:focus {
    background-color: $silver-chalice;
    outline: none;
}

