.card {
    width: 270px;
    margin: 25px auto; 
    &-body {
        margin: 20px 15px 10px;
        border-bottom: 1px solid $spanish-gray;
    }
    &-title {
        font-size: $large;
        margin-bottom: 7px;
    }
    &-text {
        font-size: $x-large;
        font-weight: $bold;
    }
    &-lista {
        margin: 0 10px 0;
        font-family: $open-sans;
        font-size: $x-small;
        height: 140px;
        li {
            padding-top: 10px;
        }
    }
    &-button {
        margin: 20px 25px 10px;
        border-top: 1px solid $spanish-gray;
        text-align: center;
        button {
            margin: 20px 20px 10px;
            width: 80%;
            padding: 5px;
        }
    }
}