.nav {
    margin: 10px 90px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    font-size: $small;
    a {
        color: $onyx;
    }
    &__info {
        display: flex;
        align-items: center;
        ul {
            margin-top: 27px;
            display: flex;
            list-style: none;
        }
        li {
            margin-right: 13px;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        margin-top: 13px;
        button {
            margin-left: 15px;
        }
        &-primary {
            padding: 5px 15px;
            font-weight: $bold;
        }
    }
    &__menu {
        display: none;
    }
}



@media (max-width: 900px) {

}