.nav {
    margin: 10px 90px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    font-size: $small;
    a {
        color: $onyx;
    }
    &__info {
        display: flex;
        align-items: center;
        ul {
            margin-top: 27px;
            display: flex;
            list-style: none;
        }
        li {
            margin-right: 13px;
            transition: all .5s;
            border-bottom: 1px solid $white;
        }
        li:hover {
            border-bottom: 1px solid $melon;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        margin-top: 13px;
        a {
            transition: all .5s;
            border-bottom: 1px solid $white;
        }
        a:hover {
            border-bottom: 1px solid $melon;
        }
        button {
            margin-left: 15px;
        }
        &-primary {
            padding: 5px 15px;
            font-weight: $bold;
        }
    }
    &__menu {
        display: none;
    }
}



@media (max-width: 900px) {
    .nav {
        ul {
            display: none;
        }
        &__button {
            display: none;
        }
        &__menu {
            display: block;
            position: relative;
            &-hamb {
                font-size: $xx-large;
                cursor: pointer;
                margin-top: 20px;
            }
            ul {
                list-style: none;
            }

        }
    }
}

@media (max-width: 500px) {
    .nav {
        margin: 10px 45px 0;
    }
}