body {
    font-family: $raleway;
    font-weight: $regular;
    color: $raising-black;
}
h1 {
    font-weight: $bold;
    font-size: $xxx-large;
}
p {
    font-family: $open-sans;
}

h2 {
    font-weight: $bold;
    font-size: $xx-large;
}
h3 {
    font-weight: $bold;
    font-size: $x-large;   
}
h4 {
    
}