.header {
    margin-top: 20px;
    &__texto {
        margin: 50px 90px 0;
        width: 30%;
        position: absolute;
        h1 {
            font-weight: $bold;
            font-size: $xxx-large;
        }
        p {
            font-family: $open-sans;
            font-size: $x-small;
        }
    }
    &__img {
        width: 100%;
    }
}


@media (max-width: 900px) {
    .header {
        &__texto {
            width: 45%;
        }
    }
}


@media (max-width: 764px) {
    .header {
        &__texto {
            position: static;  
            p {
                font-size: $small;
            }      
        }
    }
}

@media (max-width: 500px) {
    .header {
        &__texto {
            margin: 50px 50px 0;
            width: 80%;
            h1 {
                font-weight: $bold;
                font-size: $xxxx-large;
                margin-bottom: 15px;
            }
            p {
                font-size: $large;
            }
        }
    }
}