.header {
    margin-top: 20px;
    &__texto {
        margin: 50px 90px 0;
        width: 30%;
        position: absolute;
        p {
            font-family: $open-sans;
            font-size: $x-small;
        }
    }
    &__img {
        width: 100%;
    }
}


@media (max-width: 900px) {
    .header {
        &__texto {
            width: 45%;
            position: static;
        }
    }
}


@media (max-width: 600px) {

}