.main-section {
    margin: 0 90px 0;
    h2 {
        text-align: center;
        margin-bottom: 60px;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        div {
            width: 35%;

        }
        p {
            font-family: $open-sans;
            font-size: $small;
        }
    }

}